* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
}

/* usar var() ao colocar cores */
:root {
    --sunsetorange: #E16A3D;
    --white: #fff;
    --tangerine: #FFA45D;
    --pine: #016A6D;
    --nileblue: #001d3d;
}

body {
    color: var(--white);
    background: var(--nileblue);
    background-color: #06121e;
    height: 100vh;
    overflow-x: hidden;
}

/* header começo */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: -160px;
}
nav ul{
  display: flex;
  gap:3rem;
  text-decoration: none;
}
nav li{
  font-size: 1.2rem;
}
a{
  color: white;
}
.btn-faq{
  border: 1px solid var(--white);
  padding: 8px 24px;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.8s;
}
.btn-faq:hover {
  border: 1px solid var(--sunsetorange);
  background-color: var(--sunsetorange);
  color: white;
}
.btn-faq a:hover{
  color: #000000;
}

@media screen and (max-width: 768px) {
 nav{
  flex-direction: column;
 }
 nav ul{
  margin-top: -100px;
 }
 .content-main{
  margin-top: 60px
  
  
 }

 
}


.content-main{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 0 10%;
    
   
}
.title h1{
    font-size: 2rem;
    color: var(--sunsetorange);
}
.title h2{
    color: white;
    font-size: 4rem;
    line-height: 4rem;
}
.title p{
    margin-bottom: 4rem;
    font-size: 20px;
    color: #ddd;
    font-weight: 300;
}
.bg-home {
    position: relative;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 10, 30, 0.4), #06121e), url(img/background-header.jpg);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    opacity: 0.9;
}
button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--sunsetorange);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--sunsetorange);
  }
  
  button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--sunsetorange);
  }
  
  button:active {
    transform: scale(0.9);
  }




  @media screen and (max-width: 768px) {
 
    .btn-faq{
      display: none;
    }

    .title h1{
      font-size: 1.5rem;
    }
    .title h2{
      font-size: 2rem;
    }
    .title p{
      font-size: 1rem;
    }
    button{
      padding: 10px 10px;
    }
  }


/* fim da header */
.about {
    overflow: hidden;
    color: var(--white);
  }
  
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 12rem;

  }
  .about-decription{
    margin-top: -80px;
   
  }
  .text-about {
    font-size: 3rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .text-p {
    font-size: 1.125rem;
    font-weight: 300;
    text-align: justify;
    text-indent: 45px;
  }
  
  @media screen and (max-width: 768px) {
    .about-content {
      flex-direction: column-reverse;
      padding: 1.5rem 0.7rem 2.5rem 0.7rem;
      margin-top: 100px;
    }
    .about-decription{
        margin-top: 50px;
    }
    .text-p{
        font-size: 0.9rem;
    }
  }
  @media screen and (max-width: 1024px) {
    .about-content {
        flex-direction: column-reverse;
        padding: 1.5rem 0.7rem 2.5rem 0.7rem;
      }
      .about-decription{
        margin-top: 50px;
    }
  }
  @media screen and (max-width: 480px) {
    .about-content{
        margin-top: 180px;
    }
  }
/* fim do Sobre */
.background{
    background-color: var(--sunsetorange);


}
.serviços{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    
}
.title-serviços{
    text-align: center;
    margin-top: 70px;
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}
.card {
    max-width: 300px;
    border-radius: 0.8rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    margin-top: 30px;
    margin-bottom: 50px;
    overflow: hidden;
  }
  
  .card a {
    text-decoration: none
  }
  
  .content {
    padding: 1.1rem;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 0 auto;
    
  }
  
  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #5a5e65;
    font-size: 0.950rem;
    line-height: 1.25rem;
    
  }

  @media screen and (max-width: 768px) {
    .serviços{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

  }

  /*---fim serviços---*/


  .display-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 90px;
 
  }
  .img-card2{
    display: flex;
    width: 100%;
    height: auto;
  }
  .card-2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;
   
    width: 90%;
    max-width: 1000px;
    height: auto;
    border-radius: 15px;
    background: #06121e;
    box-shadow: 15px 15px 30px #06121e,
                -15px -15px 30px rgba(12, 53, 63, 0.552);
   }
   .desc-2{
    text-align: center;
    font-weight: 700;
    color: whitesmoke;
    font-size: 1.7rem;
   }
   .info{
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(206, 203, 203);
    text-indent: 45px;
   }
  
   @media screen and (max-width: 768px) {
    .card-2 {
        flex-direction: column;
        margin: 5px; /* Reduzir as margens ainda mais em telas muito pequenas */
       
    }
   }

   /*---fim---*/
   .content-faq{
    display: flex;
    align-items: center;
    justify-content: center;
   }
.title-faq{
  text-align: center;
}
   .accordion {
    display: flex;
    flex-direction: column;
    width:1100px;
}

.accordion-button {
    background-color: #2b2b2b;
    color: #fff;
    border: solid 1px;
    border-color: #222121;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.accordion-content {
    display: none;
    padding: 10px;
    border: 1px solid #2f2e2e;
}
.accordion-content p{
    text-indent: 20px;
    text-align: justify;
}

.accordion-button.active + .accordion-content {
    display: block;
}
  /*---fim---*/
 .formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
   
    
 } 
 .title-form{
    text-align: center;
    margin-top: 0px;
 } 
.formulario  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding:1vw 1vw;
    border: 2px solid white;
    border-radius: 10px;
    background-color: var(--pine);
}
  

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
}

.formulario label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
.formulario select {
    padding: 1vw;
    border: 1px solid #ddd;
    border-radius: 4px;
}



input[type="submit"]{
    padding: 1vw;
    width: 30%;
    max-width: 100px;
    background-color: var(--sunsetorange);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.contatos{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5vw;
    border: 2px solid white;
    border-radius: 10px;
    padding: 40px;
}
@media screen and (max-width: 768px) {
    .formulario{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vw;
    }
    .formulario .container {
        flex-direction: column;
      width: 100%; 
      margin-left: 0; 
    }
  
    .contatos {
     
        margin-right: 0; /* Removendo a margem à direita em telas menores */
    }

  }
  @media screen and (max-width: 1024px) {
    .formulario{
        gap: 6vw;
    }
  }
/*---fim---*/
.footer{
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    height: auto;
    color: cornsilk;
    background-color: #000000;
}
footer{
    display: flex;
    flex-direction: column;
}
footer p{
    text-align: center;
}
.contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.info-contato{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-contato img{
    width: 30px;
}